<!--редактирование/создания задачи-->
<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <!--название задачи  -->
  <mat-form-field>

    <mat-label>Название (обязательно)</mat-label>
    <input
        #inputTitle
        (keydown.enter)="onConfirm()"
        [(ngModel)]="tmpTitle" matInput><!-- по нажатию на enter можем сразу сохранить задачу -->

    <button (click)="tmpTitle = ''"
            *ngIf="tmpTitle.trim().length > 0" aria-label="Clear" class="size25"
            mat-button mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button><!--    кнопка очистить стороку Название-->
  </mat-form-field>
  <!--    выпадающий список категорий-->
  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!--    выпадающий список приоритета-->
  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option *ngFor="let p of priorities" [value]="p">
        {{p.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!--  календарь - срок выполнения-->
  <mat-form-field>
    <input
        #inputDate (click)="picker.open()" [(ngModel)]="tmpDate"
        [matDatepicker]="picker"
        matInput
        placeholder="Укажите срок выполнения"
        readonly="true">
    <mat-datepicker-toggle [for]="picker" matSuffix>

    </mat-datepicker-toggle> <!--   иконка календаря (для открытия календаря)  -->

    <mat-datepicker #picker></mat-datepicker> <!--  компонент календаря при нажатии открывается  -->
    <!--  кнопка очистки даты -->
    <button
      (click)="tmpDate = null"
      *ngIf="inputDate.value.trim().length > 0" aria-label="Clear" class="size25" mat-button
      mat-icon-button matSuffix>

      <mat-icon>clear</mat-icon>

    </button>
  </mat-form-field>
</mat-dialog-content>
<!--  кнопки возможных действий-->
<mat-dialog-actions>
  <div class="col-md-5 col-12">
    <button (click)="onConfirm()" [disabled]="inputTitle.value.trim().length==0"
            color="primary"
            mat-raised-button>
      <!--если пустой текст - кнопка "Сохранить" будет недоступна    -->
      Сохранить
    </button>

    <button (click)="onCancel()" mat-raised-button>Отмена</button>
  </div>
  <div
    class="col-md-7 col-12 text-right">

    <button
      (click)="complete()" *ngIf="!task.completed"
      class="green"
      mat-button>
      Завершить задачу
    </button>

    <button
      (click)="activate()" *ngIf="task.completed"
      class="green"
      mat-button>
      Активировать
    </button>

    <button
      (click)="delete()"
      class="red"
      mat-button>
      Удалить задачу
    </button>
  </div>
</mat-dialog-actions>
