<div class="sidebar" data-background-color="white" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <span class="nav-title">
      Категории
    </span>
    <!--    кнопка добавления новой категроии-->
    <span class="add-icon-area">

      <button class="add-icon" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>

    </span>

  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <!--  Все категории    -->
      <li (click)="showTasksByCategory(null)" [class.active]="selectedCategory === null" class="nav-item category">
        <a class="nav-link pointer">
          <p class="all-category-title">Все</p>
        </a>

      </li>
      <!--  разделитель     -->
      <div class="line"></div>

      <li
        (click)="showTasksByCategory(category)" (mouseenter)="showEditIcon(index)"

        (mouseleave)="showEditIcon(null)"

        *ngFor="let category of categories; let index = index "
        [class.active]="category === selectedCategory "

          class="nav-item pointer"
      >
        <a class="nav-link">

          <!--         название категории-->
          <span class="category-title">{{category.title}}</span>


          <!--         иконка редактирования категории-->
          <span class="edit-category-icon-area">
            <mat-icon
              (click)="$event.stopImmediatePropagation(); openEditDialog(category)"
              *ngIf="indexMouseMove === index"

              class="edit-category-icon"
            >edit
            </mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
